body {
    background-color: #F1F1F1;
}

.card {
    border: 1px solid #898989;
    display: flex;
}

.first {
    display: flex;
    justify-content: center;
    width: 100%;    
}

p {
    border: 1px solid #898989;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 10px 35px 10px;
    /* margin-bottom: 35px; */
} 